.inout-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(32, 32, 32, 0.3);
    min-height: 45rem;
    transition: transform 0.5s;
    overflow: hidden;
}

.inout-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 50%;
    border-left: solid 0.25rem transparent;
    border-top: solid 0.5rem transparent;
    border-image: linear-gradient(to bottom, var(--clr_bright_gold), var(--clr_dark_gold) 50%, rgba(32,32,32,0));
    border-image-slice: 1;
    pointer-events: none;
}

.inout-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 50%;
    border-right: solid 0.25rem transparent;
    border-bottom: solid 0.5rem transparent;
    border-image: linear-gradient(to top, var(--clr_bright_gold), var(--clr_dark_gold) 50%, rgba(32,32,32,0));
    border-image-slice: 1;
    pointer-events: none;
}

.inout-icon {
    position: absolute;
    top: -3.3rem;
    right: -3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 7.5rem;
    color: rgba(206, 206, 206, 0.1);
    border: solid 1.5rem rgba(206, 206, 206, 0.1);
    width: 15rem;
    height: 15rem;
}

.inout-title {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 2rem;
    width: 100%;
}

.inout-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 2.5rem;
    width: 100%;
}

.inout-settings {
    justify-content: center;
}

.input-form,
.output,
.analysis-output {
    height: 37.5rem;
    position: relative;
    margin-top: 2.5rem;
}

.input-form textarea,
.output-content,
.analysis-content {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    padding: 1rem;
    background-color: rgba(206, 206, 206, 0.025);
    color:  var(--clr_grey);
}

.output {
    word-wrap: break-word;
}

.analysis-info {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.cipher-freq,
.language-freq {
    position: relative;
    margin-left: 0;
    margin-right: auto;
}

.cipher-freq span::after,
.language-freq span::after {
    content: '';
    position: absolute;
    top: 0.7rem;
    right: -1.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
}

.cipher-freq span::after {
    background-color: var(--clr_bright_gold);
    box-shadow: 0 0 0.25rem var(--clr_bright_gold);
}

.language-freq span::after {
    background-color: var(--clr_dark_gold);
    box-shadow: 0 0 0.25rem var(--clr_dark_gold);
}

.analysis-results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.analysis-result {
    border: solid 0.2rem var(--clr_bright_gold);
    background-color: rgba(32, 32, 32, 0.1);
    box-shadow: 0 0 0.5rem var(--clr_dark_gold);
    color: var(--clr_bright_gold);
    margin: 0.25rem;
    padding: 0.5rem;
}

.analysis-specs {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--clr_white);
}

.analysis-letter {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.freq-indicator1 {
    background-color: var(--clr_bright_gold);
    margin: 0.5rem 0;
    height: 0.5rem;
}